:root {
    --red: #f54e4e;
    --green: #4aec8c;
}

body {
    background-color: #30384b;
    color: #eee;
}

main {
    margin: 0 auto;
    max-width: 340px;
    padding-top: 50px;
    text-align: center;
}

button {
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    display: inline-block;
    width: 100px;
}